
/* General rules */

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.nav_wrapper {
    display: flex;
    background-color: ghostwhite;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_title {
    text-align: center;

}

.nav_container_link {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 900;
    

}

.nav_link {
    border-radius: 5px;
    width: 280px;
    padding: 10px 5px 10px 5px;
    margin: 3px;
    text-decoration: none;
    background-color: #fff;
    cursor: pointer;
}

.nav_link:visited {
    color: black;
}

.nav_img {
    width: 280px;
    margin-top: 40px;

}

.nav_paragraph {
    margin-top: 20px;
    width: 290px;
    text-align: center;
    font-weight: 300;
    line-height: 1.5;
}

.portfolio_wrapper {
    width: 320px;
    background-color: #fff;
}

.portfolio_wrapper1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.portfolio_title {
    text-align: center;
}


.portfolio_item {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.portfolio_item_title {
    margin-bottom: 3px;
    font-weight: 400;
}

.portfolio_img {
    width: 300px;
    margin: auto;
}

.portfolio_item_paragraph {
text-align: center;
line-height: 1.5;
    
}

.footer_wrapper {
    width: 320px;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_paragraph {
    text-align: center;
    width: 300px;
    line-height: 1.5;
}

.footer_info {
    margin-bottom: 15px;

}

.footer_info2 {
    margin-bottom: 60px;
}

.footer_row {
    border-top: 1px solid rgb(231, 231, 231);
    width: 300px;
    display: flex;
    justify-content: space-between;

}

.footer_row_title {
    display: block;
    margin-left: 20px;
}

.footer_row_link {
    display: block;
    text-decoration: none;
    margin-right: 20px;

}
.footer_row_link:visited {
    text-decoration: none;
    color: black;


}

.footer_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table {
    display: none;

}
@media screen and (min-width: 768px) {
    .wrapper {
      min-width: 768px;
      width: 100%;
    }

    .nav_container_link {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 768px;
    }

    .nav_link {
        border-radius: 0px;
        width: 100px;
    }

   

    .float {
        padding-top: 40px;
        padding-bottom: 40px;

    }

    .nav_paragraph {
        float: left;
        text-align: left;
        margin-right: 30px;
        width: 315px;
    }
    .nav_img {
        margin-top: 0px;
    }

    .portfolio_title {
        display: block;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
   
    }

    .portfolio_wrapper {
        width: 768px;
        background-color: #fff;

    }

    .portfolio_wrapper1 {
        flex-direction: row;
    }

    .footer_wrapper {
        width: 768px;
    }

    .footer_title {
        margin-top: 60px;
        font-size: 1rem;
    }

    .footer_paragraph {
        margin-top: 30px;
        width: 403px;
    }

    .footer_row {

        width: 768px;
    }

    .footer_info {
        margin-top: 40px;
    }

   .mobile {
       display: none;
   }

   
   .table {
    display: flex;
    flex-direction: row;
    justify-content: center;
   }

  }

  @media screen and (min-width: 1024px) {

    .wrapper {
        min-width: 1024px;
        width: 100%;
      }

    .nav_wrapper {
        width: 100%;
        max-width: 1024px;
    }

    .nav_media_wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav_title {
        margin-left: 30px;
        width: 210px;

    }

    .nav_container_link {
        justify-content: flex-end;
        margin-right: 30px;
    }

    .nav_paragraph {
        width: 385px;

    }

    .portfolio_wrapper {
        width: 100%;
        max-width: 1024px;
        background-color: #fff;

    }

    .footer_wrapper {
        width: 100%;
        max-width: 1024px;
    }



  }


